# Copy to .env and fill values
APP_NAME=
SERVER_PORT=

APP_URL=
APP_PLATFORM_NAME=
APP_EMAIL_PRIMARY_COLOR=

DB_URL=
DB_USER=
DB_PASSWORD=

JPA_DDL_AUTO=
JPA_SHOW_SQL=

RSA_PRIVATE_KEY=
RSA_PUBLIC_KEY=

JWT_SECRET=
JWT_EXPIRATION=
JWT_EXPIRATION_REMEMBER=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PHONE=

MONGO_HOST=
MONGO_PORT=
MONGO_DB=
MONGO_AUTO_INDEX=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
